@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
html,body{
      background: #121212;
      scroll-behavior: smooth;
}
body{
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      background: #1d1f21;
      background-size: contain;
      font-family: 'Oxygen Mono', monospace;
}
:root {
      --numa-green: #22826068;
      --numa-purple: #776bb36f;
      --numa-green-bright: #2bbc8a;
      --primary-grey: #1d1f21;
      --primary-white: #eee;
      --primary-white-text: #c9cacc; 
      --secondary-white-subtext: #666;
}
a{
      text-decoration: none;
      color: var(--primary-white-text);
      transition: all 0.2s ease-in-out;
}
a:hover{
      color: var(--numa-green-bright);
}
.navbar-wrapper{
      width: 95%;
      height: 80px;
      margin: auto;
}
.navbar-right-wrapper{
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
}
.hyperscroll{
      height: 80px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
}
.contact{
      color: var(--primary-white-text);
      font-size: 15px;
      margin-right: 5px;
      z-index: 1;
}
.menu{
      position: relative;
      top: 2px;
      color: var(--numa-green-bright);
      z-index: 1;
}
.menu ion-icon {
      font-size: 24px;
}
.intro-wrapper{
      width: 100%;
      margin: 5rem 0 4rem 0;
      display: flex;
      justify-content: space-around;
}
.intro-right{
      width: 40%;
      display: flex;
      justify-content: center;
}
.intro-left{
      width: 60%;
      display: flex;
      justify-content: center;
}
.intro-right-links-wrapper{
      display: none;
}
.header{
      width: 80%;
      margin: auto;
      font-size: 2em;
      font-weight: 700;
      color: var(--numa-green-bright);
}
.sub-header{
      width: 80%;
      margin: auto;
      font-size: 1.2em;
      font-weight: 700;
      color: var(--secondary-white-subtext);
}
.aboutme{
      width: 80%;
      margin: 30px auto;
      font-size: 1.5em;
      font-weight: 700;
      color: var(--numa-green-bright);
}
.description{
      width: 80%;
      margin: auto;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 20px;
      color: var(--primary-white-text);
      hyphens: auto;
      text-rendering: geometricPrecision;
}
.socials{
      font-size: 20px;
      position: relative;
      top: 4px;
      left: 4px;
}
.desc-footer{
      font-size: 14px;
      color: var(--numa-green-bright);
      display: flex;
}
.description img{
      margin-left: 4px;
}
.left-sidebar-wrapper{
      position: fixed;
      top: 0;
      right: 0;
      width: 6%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: flex-end;
}
.sidebar{
      width: 60%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
}
.sidebar-links{
      font-size: 28px;
      color: var(--numa-green-bright);
}
.profile-wrapper{
      width: 95%;
      margin: 10rem auto;
      display: flex;
      flex-direction: column;
}
.profile-sec-1{
      display: flex;
      justify-content: space-around;
      text-align: left;
      width: 60%;
}
.profile-sec-2{
      display: flex;
      justify-content: space-around;
}
.avatar-wrapper{
      width: 40%;
      height: auto;
}
.avatar{
      width: 100%;
      border-radius: 50%;
      object-fit: contain;
      justify-self: center;
      animation: breathing 5s linear infinite;
}
@keyframes breathing {
      0%{
            box-shadow: 0 0 0 10px var(--numa-green), 0 0 0 25px var(--numa-green), 0 0 0 35px var(--numa-green);
      }
      50%{
            box-shadow: 0 0 0 20px var(--numa-green), 0 0 0 33px var(--numa-green), 0 0 0 43px var(--numa-green);
      }
      100%{
            box-shadow: 0 0 0 10px var(--numa-green), 0 0 0 25px var(--numa-green), 0 0 0 35px var(--numa-green);
      }
}
.creative-column{
      width: 90%;
      margin: auto;
      margin-bottom: 4rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
}
.creative-cards{
      width: 30%;
}
.column-header{
      font-size: 1em;
      font-weight: 700;
      color: var(--primary-white);
}
.column-header-icons{
      font-size: 22px;
}
.column-list{
      padding: 18px;
      list-style-type: disc;
}
.column-list > li{
      font-size: 1em;
      margin-bottom: 5px;
      color: var(--primary-white-text);
}
.blog-wrapper, .project-wrapper{
      width: 90%;
      margin: auto;
      margin-bottom: 4rem;
}
.contact-wrapper{
      width: 90%;
      margin-top: 4rem;
      margin: auto;
      padding-bottom: 30px; 
}
.blog-header, .project-header, .contact-header{
      font-size: 1.5em;
      font-weight: 700;
      color: var(--numa-green-bright);
      margin-bottom: 20px;
}
.contact-header{
      margin-bottom: 10px;    
}
.blog-description{
      font-size: 14px;
      color: var(--primary-white-text);
      margin-bottom: 15px;
      hyphens: auto;
}
.blog-list, .project-list{
      list-style-type: none;
}
.blog-item{
      font-size: 14px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
}
.blog-item-date{
      color: var(--secondary-white-subtext);
      margin-right: 15px;
}
.blog-item-link{
      text-decoration: underline;
      color: var(--primary-white);
}
.project-description{
      font-size: 14px;
      color: var(--primary-white-text);
      margin-bottom: 30px;
}
.contact-description{
      font-size: 14px;
      color: var(--primary-white-text);
      padding-bottom: 40px; 
}
.project-item{
      width: 100%;
      display: flex;
      margin-bottom: 40px;
}
.project-item-image{
      width: 30%;
}
.project-item-about{
      width: 60%;
}
.project-title{
      font-size: 1em;
      font-weight: 700;
      color: var(--primary-white);
      margin-bottom: 5px;
}
.project-descriptions{
      font-size: 14px;
      color: var(--primary-white-text);
      hyphens: auto;
}
.pj-img{
      width: 80%;
      object-fit: contain;
      border-radius: 10px;
}
#email{
      font-size: 12px;
      padding: 4px 6px;
      border: 1px solid var(--primary-white-text);
      border-radius: 3px;
}

#copy{
      font-size: 13px;
      color: var(--secondary-white-subtext);
}

@media screen and (min-width: 1080px){
      .scroll-container{
            width: 90%;
            margin: auto;
      }
}
@media screen and (max-width: 1080px){
      .profile-wrapper{
            width: 85%;
            margin: 1rem auto;
      }
}
@media screen and (max-width: 768px){
      .profile-wrapper{
            width: 80%;
            margin: 1rem auto;
      }
      .last-skbox{
            margin: auto;
      }
}
@media screen and (max-width: 440px){
      body, .scroll-container{
            width: 100%;
      }
      .intro-wrapper{
            flex-direction: column-reverse;
            margin-bottom: 2rem;
      }
      .intro-right{
            width: 100%;
            text-align: center;
            flex-direction: column;
            align-items: center;
      }
      .intro-left{
            width: 100%;
            text-align: center;
      }
      .intro-right-links-wrapper{
            display: flex;
            width: 100%;
            margin-top: 2rem;
      }
      .intro-right-sidebar{
            width: 60%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
      }
      .intro-right-sidebar-links{
            font-size: 24px;
      }
      .left-sidebar-wrapper{
            display: none;
      }
      .header{
            width: 95%;
            margin-top: 40px;
            text-align: center;
      }
      .description{
            width: 100%;
            margin: auto;
            padding: 0px 10px 0px 10px;
            text-align: center;
      }
      .desc-footer{
            display: flex;
            justify-content: center;
      }
      .profile-wrapper{
            width: 95%;
            margin: 1rem auto;
      }
      .profile-sec-1{
            width: 95%;
            margin: 2rem auto;
      }
      .profile-sec-2{
            width: 95%;
            margin: auto;
      }
      .creative-cards{
            width: 70%;
      }
      .blog-item{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 12px;
      }
      .blog-item-date, .blog-item-link{
            width: 90%;
      }
      .project-item{
            flex-direction: column;
            align-items: center;
      }
      .project-item-about, .project-item-image{
            width: 90%;
            text-align: center;
            margin-bottom: 15px;
      }
      .project-descriptions{
            text-align: center;
      }
      .pj-img{
            width: 80%;
            margin: auto;
      }

}